* {
  font-family: 'Helvetica', 'Arial', sans-serif;
}
.blog-masthead {
  background-color: white;
  color: black;
}
.blog-masthead .container {
  width: 100%;
}
.header-container {
  padding: 0;
}
.blog-nav {
  border-top: 1px solid #eae6e6cc;
  width: 100%;
  margin-top: 20px;
}
.blog-nav li {
  position: relative;
  display: inline-block;
  padding: 15px;
  font-size: 12px;
  font-weight: 600;	
}
.blog-nav li a {
  color: black;
  text-transform: uppercase;
}

.blog-header {
  text-align: center;
  margin: 20px 0;
}

.blog-title a {
  color: #000;
  text-transform: uppercase;
}

.frontpage {
  background-color: #f8f8f8;
  margin: 0;
}

.blog-main {
  margin-top: 20px;
}

.blog-post {
  align-self: baseline;
  background-color: #fff;
  margin: 10px;
  padding: 10px;
}

.blog-post-title a {
  color: #000;
  font-size: 20px;
}
.blog-post-meta {
  font-size: 14px;
  color: #514e4e
}

.pager {
  list-style: none;
}

.blog-sidebar {
  margin-top: 20px;
}

.sidebar-module {
  background-color: #fff;
  padding: 10px;
  margin: 10px;
  text-align: center;
}
.sidebar-module h4 {
  font-size: 20px;
}

.blog-footer {
  text-align: center;
  padding: 20px;
}